    input  [7:0] A,
    input  [7:0] B,
    input  [2:0] opcode,
    output reg [7:0] Result

#BUS_SORT
#E
seg\[6\]
seg\[5\]
seg\[4\]
seg\[3\]
seg\[2\]
seg\[1\]
seg\[0\]
an\[3\]
an\[2\]
an\[1\]
an\[0\]